@model LojaVeiculos.Models.Venda
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.NotaFiscal</h2>

<p>@Model.IdVeiculo</p>
<p>@Model.IdCliente</p>
<p>@Model.IdVendedor</p>
<p>@Model.NotaFiscal</p>
<p>@Model.Data</p>
<p>@Model.Valor</p>


