@model LojaVeiculos.Models.Venda
@{
    ViewBag.Title = "Venda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nota Fiscal: @Model.NotaFiscal</h2>

<p>Veículo: @Model.Veiculo.Marca - @Model.Veiculo.Modelo</p>
<p>Cliente: @Model.Cliente.Nome</p>
<p>Vendedor: @Model.Vendedor.Nome</p>
<p>Nota FIscal: @Model.NotaFiscal</p>
<p>Data: @Model.Data</p>
<p>Valor: R$ @Model.Valor</p>


