@model IEnumerable<LojaVeiculos.Models.Venda>
@{
    ViewBag.Title = "Venda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Venda
    @Html.ActionLink("Nova Venda", "New", null, new { @class = "btn btn-primary pull-right" })
</h2>

@if (@Model.Any())
{

    <hr>

    <table id="vendas" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nota Fiscal</th>
                <th>Data</th>
                <th>Valor</th>
                <th>Ver Cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venda in Model)
            {
                <tr>
                    <th scope="row">@venda.Id</th>
                    <td>@venda.NotaFiscal</td>
                    <td>@venda.Data</td>
                    <td>@venda.Valor</td>
                    <td>
                        @Html.ActionLink("Ver", "Details", new { venda.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Editar", "Edit", new { venda.Id }, new { @class = "btn btn-warning btn-xs" })
                        <button data-venda-id="@venda.Id" class="btn btn-danger btn-xs js-delete">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{

    <p>Nenhuma venda cadastrada!</p>

}


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#vendas").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover esta venda?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/venda/delete/" + button.attr("data-venda-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}