@model IEnumerable<LojaVeiculos.Models.Venda>
@{
    ViewBag.Title = "Venda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Venda
</h2>

@if (@Model.Any())
{

    <table id="vendas" class="table">
        <caption>Optional table caption.</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nota Fiscal</th>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venda in Model)
            {
                <tr>
                    <th scope="row">@venda.Id</th>
                    <td>@venda.NotaFiscal</td>
                    <td>@venda.Data</td>
                    <td>@venda.Valor</td>                   
                </tr>
            }
        </tbody>
    </table>

}
else
{

    <p>Nenhuma venda cadastrada!</p>

}


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#vendas").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover esta venda?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/venda/delete/" + button.attr("data-venda-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}