@model LojaVeiculos.Models.Veiculo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Modelo</h2>

<p>@Model.Tipo</p>
<p>@Model.Marca</p>
<p>@Model.Modelo</p>
<p>@Model.Ano</p>
<p>@Model.Placa</p>
<p>@Model.Cor</p>
<p>@Model.Descricao</p>
<p>@Model.Valor</p>
