@model IEnumerable<LojaVeiculos.Models.Veiculo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Veículos
    @Html.ActionLink("Novo Veículo", "New", null, new { @class = "btn btn-primary pull-right" })
</h2>

@if (Model.Any())
{

    <table class="table">
        <caption>Optional table caption.</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var veiculo in Model)
            {
                <tr>
                    <th scope="row">@veiculo.Id</th>
                    <td>@veiculo.Marca</td>
                    <td>@veiculo.Modelo</td>
                    <td>@veiculo.Ano</td>
                    <td>
                        @Html.ActionLink("Ver", "Details", new { veiculo.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Editar", "Edit", new { veiculo.Id }, new { @class = "btn btn-warning btn-xs" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{

    <p>Nenhum cliente cadastrado!</p>

}