@model LojaVeiculos.Models.Veiculo
@{
    ViewBag.Title = "VeiculoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Veiculo"))
{
    @Html.HiddenFor(v => v.Id)
    <div class="form-group">
        @Html.LabelFor(v => v.Tipo)
        @Html.TextBoxFor(v => v.Tipo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Marca)
        @Html.TextBoxFor(v => v.Marca, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Modelo)
        @Html.TextBoxFor(v => v.Modelo, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Ano)
        @Html.TextBoxFor(v => v.Ano, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Placa)
        @Html.TextBoxFor(v => v.Placa, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Cor)
        @Html.TextBoxFor(v => v.Cor, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Descricao)
        @Html.TextBoxFor(v => v.Descricao, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(v => v.Valor)
        @Html.TextBoxFor(v => v.Valor, new { @class = "form-control" })
    </div>
    
    <button type="submit" class="btn btn-primary">Salvar</button>
}