@model LojaVeiculos.Models.Vendedor
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>

<p>@Model.Nome</p>
<p>@Model.Cpf</p>
<p>@Model.Telefone</p>
<p>@Model.Email</p>