@model IEnumerable<LojaVeiculos.Models.Vendedor>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Vendedor
    @Html.ActionLink("Novo Vendedor", "New", null, new { @class = "btn btn-primary pull-right" })
</h2>

@if (Model.Any())
{

    <hr>

    <table id="vendedores" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Ver Cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendedor in Model)
            {
            <tr>
                <th scope="row">@vendedor.Id</th>
                <td>@vendedor.Nome</td>
                <td>@vendedor.Email</td>
                <td>@vendedor.Telefone</td>
                <td>
                    @Html.ActionLink("Ver", "Details", new { vendedor.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Editar", "Edit", new { vendedor.Id }, new { @class = "btn btn-warning btn-xs" })
                    <button data-vendedor-id="@vendedor.Id" class="btn btn-danger btn-xs js-delete">Remover</button>

                </td>
            </tr>
            }
        </tbody>
    </table>

}
else
{

    <p>Nenhum vendedor cadastrado!</p>

}


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#vendedores").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    bootbox.confirm("Tem certeza que quer remover este vendedor?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/vendedor/delete/" + button.attr("data-vendedor-id"),
                                    method: "GET",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}