@model LojaVeiculos.Models.Cliente
@{
    ViewBag.Title = "ClienteForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Save", "Cliente"))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Nome)
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cpf)
        @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Cpf)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DataNascimento)
        @Html.TextBoxFor(m => m.DataNascimento, "{0: dd/MM/yyyy }", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DataNascimento)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telefone)
        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rua)
        @Html.TextBoxFor(m => m.Rua, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Numero)
        @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Bairro)
        @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Cidade)
        @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Estado)
        @Html.TextBoxFor(m => m.Estado, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
}