@model LojaVeiculos.Models.Cliente
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nome</h2>

<p>@Model.Nome</p>
<p>@Model.Cpf</p>
<p>@Model.DataNascimento</p>
<p>@Model.Email</p>
<p>@Model.Telefone</p>
<p>@Model.Rua</p>
<p>@Model.Numero</p>
<p>@Model.Bairro</p>
<p>@Model.Cidade</p>
<p>@Model.Estado</p>
